@value borderColor, backShade, secondaryFontColor, primaryFontColor from '~Shared/globalStyles.css';
@value smallBP from '~Shared/globalStyles.css';


.box {
  background-color: white;
  border: 1px solid borderColor;
  border-radius: 3px;
  margin: 3px 0;
  padding: 10px;
  text-decoration: none;
  color: black;
  flex-grow: 1;
  @media smallBP {
    min-height: 20px;
  }
}