@value primaryFontColor, secondaryFontColor, borderColor, backShade, smallBP from '~Shared/globalStyles.css';


.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid borderColor;
  &:last-child { border-bottom: none; }
}

.authorTitle {
  color: gray;
}

.body {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
}

.fiveMargin {
  margin-right: 5px;
}


.boxFooter {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;

  @media smallBP {
    margin-top: 0px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.starCount {
  &:hover{
    cursor: pointer;
  }
}





