@value primaryFontColor, secondaryFontColor, borderColor, backShade, smallBP from '~Shared/globalStyles.css';

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid borderColor;
  &:last-child { border-bottom: none; }
}

.title {
  font-size: 18px;
  font-weight: 300;
  &:hover {
    cursor: pointer;
  }
}

.titleDesp {
  margin-left: 5px;
}


.boxFooter {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;

  @media smallBP {
    margin-top: 0px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}


.checkbox {
  margin-right: 10px;
}

.todayPunch {
  text-align: right;
  min-width: 100px;
  @media smallBP {
    text-align: left;
  }
}

.reviewForm {
  margin-top: 10px;
  display: flex;
}

.reviewFormButton {
  padding: 0 10px;
}

.reviewFormDetail {
  flex-grow: 1;
  border: 0ch;
  border-bottom: 1px solid borderColor;
}